/* Theme colors */

:root {
    --main-bg-color: #e3e3e3; /* coral; */
    --primary-color: #45b648;
    --primary-hover: #53ea5b;
    --project-list-item-color: white;/* #c9df8a; */
    --project-list-item-hover: black; /* #667543; */
    --project-list-item-text: black;
    --project-list-item-text-hover: white;
    --list-bg: #45b648; /* #275e2a; */
    --list-title-color: #b9ffbe; /* #c3dbc4; */
    --list-scrollbar: #338136; /* #1c431e; */
    --task-text-color: #1c431e;
    --task-hover-bg: #dadada; /* #dadada; */
    --add-task-text-color: #205323; /* #609f62; */
    --add-task-hover-text-color: #205323; /* #1c431e; */
    --add-task-hover-bg: #53ea5b; /* #39873c; */
}

/* dark -> light
#343d46	(52,61,70)
#4f5b66	(79,91,102)
#65737e	(101,115,126)
#a7adba	(167,173,186)
#c0c5ce	(192,197,206)
*/

/* Base styles */
* {
    font-family: 'Roboto', sans-serif;
    /*box-sizing: border-box;*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
}



.content-wrap {
    margin-bottom: 3rem;
}

.footer {
    padding-bottom: 0;
}

.footer-copyright {
    color: gray;
}

.jumbotron {
    background: -webkit-linear-gradient(to right, #3f3f3f, #000000);
    background: linear-gradient(to right, #3f3f3f, #000000); /* #1BADD8, #00003E */
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn-style-one {
    border-style: none;
    background: var(--primary-color);
    outline: none;
    /*background-color: #45b648;*/
}

.btn-style-one:hover {
    background: var(--primary-hover);
}

.btn-style-one:focus {
    outline: none;
}

/* Navbar */

.navbar {
    background-color: #fff !important;
    /*margin-bottom: 10px;*/
}

.navbar-brand {
    padding: 0px;
    height: 40px;
}

.navbar-brand > img {
    height: 100%;
    padding: 0px;
    width: auto;
}

/* end navbar */

:focus {
    outline-color: #fa0;
}

.hidden {
    display: none;
}

/* Toasts */
.toast-body {
    color: black;
}

/* Projects Listed */

.project-list-page-container {
    margin-top: 1rem;
}

.project-list-header {
    text-align: left;
}

.project-list-item {
    background: var(--project-list-item-color);
    color: var(--project-list-item-text);
}

/*.project-list-item {}*/

.project-list-item:hover,
.project-list-item:focus {
    background: var(--project-list-item-hover);
    color: var(--project-list-item-text-hover);
    transition: 0.5s ease-in ;
}

.project-list-item:hover *,
.project-list-item:focus * {
    color: var(--project-list-item-text-hover);
}

.delete-project-icon {
    color: var(--project-list-item-text);
}

.delete-project-icon:hover {
    color: red;
}

.add-project-btn {
}

#add-project-form {
    margin-bottom: 0;
    padding: 0;
    display: none;
}

/* Add User */

.add-user-form {
    display: none;
}

.add-user-input {
    height: 1.8rem;
    margin: 0.2rem;
    width: 8rem;
}

.add-user-btn {
    height: 1.8rem;
    font-size: x-small;
    margin: 0.2rem;

    width: 8rem;
}

/* Lists */

.lists-container::-webkit-scrollbar {
    height: 2.4rem;
}

.lists-container::-webkit-scrollbar-thumb {
    /* bottom scrollbar */
    background-color: #cccccc;
    border-top-width: 0;
}

.lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: calc(100vh - 8.6rem);
}

/* panel is task lists and list-add button */
.panel {
    flex: 0 0 15rem;
    flex-direction: column;
    display: flex;
    max-height: calc(100vh - 15rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.list {
    background-color: var(--list-bg);
}

.list-title {
    font-size: 1.0rem;
    font-weight: 700;
    color: var(--list-title-color);
    padding: 0.5rem 1rem 0;
    line-height: 1.3;
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0.1rem 0.6rem 0.6rem;
    margin-bottom: 0;
    overflow-y: auto;
}

.list-items::-webkit-scrollbar {
    width: 1.0rem;
}

.list-items::-webkit-scrollbar-thumb {
    background-color: var(--list-scrollbar);
    border-right: 0.3rem solid var(--list-bg);
}

.category-delete-btn i {
    color: var(--add-task-text-color);
}

.category-delete-btn i:hover {
    color: red;
}

.item {
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #fff;
    padding: 0.65rem 0.6rem;
    color: var(--task-text-color);
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
}

.item:last-of-type {
    margin-bottom: 0;
}

.item:hover {
    background-color: var(--task-hover-bg);
}

span.task-author {
    font-size: xx-small;
}

.task-delete-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-delete-btn i {
    color: gray;
    font-size: small;
}

.task-delete-btn i:hover {
    color: black;
}

.edit-task-form {
    display: none;
}


.add-task-btn-wrapper {
    margin: 0;
}

.add-task-btn {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--add-task-text-color);
    padding: 0.4rem 1rem 0.5rem;
    text-align: left;
    cursor: pointer;
}

.add-task-form {
    padding: 0rem 0.6rem 0.2rem;
    width: 100%;
    margin: 0;
    display: none;
}

.testing-input {
}

.add-task-btn:hover {
    background-color: var(--add-task-hover-bg);
    color: var(--add-task-hover-text-color);
}

.add-list-btn {
    display: block;
    width: 100%;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 0.6rem 0;
    text-align: left;
    cursor: pointer; /* what does this do? */
    background-color: #c4c4c4;
    color: #7e7e7e;
}

.add-list-btn:hover {
    background-color: #a3a3a3;
}

.add-task-btn::after,
.add-list-btn::after {
    content: '...';
}

#add-list-form {
    display: none;
}

#add-list-input {
    height: 2rem;
}

/* Dragging */

.temp-storage {
    /* stores the list item that is currently being dragged */
    display: none;
    visibility: hidden;
}

.children-no-pointer-events * {
    pointer-events: none;
}

.current-item {
    transform: translate(0, 0);
}


/* Kebab Dropdown Menu */
.kebab {
    position: relative;
}

.kebab-btn {
    margin: 0.5rem 0.5rem 0;
}

.kebab-btn,
.kebab-menu-item-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.triple-dot {
    color: var(--list-title-color);
    margin: 0 auto;
    display: inline-block;
    transition: background-color 0.3s;
}

.kebab-menu {
    position: absolute;
    left: -0.5rem;
    top: 100%;
    z-index: 900;
    float: left;
    padding: 10px 0;
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.kebab-menu-caret {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}

.kebab-menu-caret-outer,
.kebab-menu-caret-inner {
    position: absolute;
    display: inline-block;
    margin-left: -1px;
    font-size: 0;
    line-height: 1;
}

.kebab-menu-caret-outer {
    border-bottom: 10px solid #c1d0da;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
}

.kebab-menu-caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
}

.kebab-menu-items {
    margin: 0;
    list-style: none;
    padding: 0;
}

.kebab-menu-item {
    display: block;
}

.kebab-menu-item-btn {
    min-width: 100%;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
}

.kebab-menu-item:hover {
    background-color: #489fe5;
}

.kebab-menu-item:hover .kebab-menu-item-btn {
    color: #fff;
}

.kebab-btn:hover .kebab-dot,
.show-kebab-menu .kebab-dot {
    background-color: #516471;
}

.show-kebab-menu .kebab-menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}

/*********/
.fa-trash {
    /*color: var(--add-task-text-color);*/
}

/* Profile Page */
.profile-header {
    /*transform: translateY(5rem);*/
}

.profile-image {
    height: 300px;
    width: 250px;
    object-fit: cover;
}

.avatar-navbar {
    height: 2rem;
    width: 2rem;

    object-fit: cover;
    /*height: 100%;*/
    /*padding: 0px;*/
    /*width: auto;*/
}

.avatar {
    /*height: 100%;*/
    /*padding: 0px;*/
    /*width: auto;*/
}

.logout-link:active {
    background: var(--primary-color);
}

/* Hover effect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* end Hover effect */
