{% extends "planner/base.html" %}

{% block body %}
    <div class="devsite-main-content">
        <devsite-content>
            {%for task in task_list%}
            <article class="devsite-article ibrahim-card">
                <section class="devsite-landing-row devsite-landing-row-1-up dac-sublandings-hero">
                    <div class="devsite-landing-row-group">
                        <div class="devsite-landing-row-item-body">
                            <div class="devsite-landing-row-item-description-content">
                                <p>
                                    {{task.text}}
                                    - <small>{{task.author}}</small>
                                    <span style="font-size: xx-small; ">
                                    id: {{ task.id }} (for debugging)</span>
                                </p>
                                 <form action="{% url "planner:remove-task" id=task.id %}" method="GET">
                                    <button type="submit" style="background-color: #f44336; color: #fff">Remove Task</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <br>
            {%endfor%}
            <form action="{% url "planner:add_task" %}" method='GET'>
                <button type='submit'>Add Task</button>
            </form>
        </devsite-content>
    </div>


{% endblock %}


</html>