{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}

{% extends "planner/base.html" %}

{% block body%}
<ul>
    {%for task in task_list%}
    <li>
        {{task.text}} - <small>{{task.author}}</small>
    </li>
    {%endfor%}
</ul>
    Haytham test


<form method="post" >
    {%csrf_token%}
    <input id="task-input" type="text" value="Enter task" size="20"/>
    <input id="task-authro" type="text" value="Enter author name" size="20" />
    <button type="submit">Add a task</button>
</form>

{% endblock %}


{#</body>#}
{#</html>#}