{% extends "planner/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<button ><a href="/login">Log In</a></button>
<button ><a href="/register">Sign Up</a></button>
<button ><a href="/logout">Log out</a></button>
<ul>
    {%for task in task_list%}
    <li>
        {{task.text}} - <small>{{task.author}}</small>
    </li>
    {%endfor%}
</ul>


<form action="/add">
    {%csrf_token%}
    <input type="text" value="Enter task" name="mytextbox" size="20"/>
    <button type="submit">Add a task</button>
</form>


</body>



{% block body %}
    <div class="devsite-main-content" has-book-nav has-toc>
        <devsite-content>
            {%for task in task_list%}
            <article class="devsite-article ibrahim-card">
                <section class="devsite-landing-row devsite-landing-row-1-up dac-sublandings-hero">
                    <div class="devsite-landing-row-group">
                        <div class="devsite-landing-row-item-body">
                            <div class="devsite-landing-row-item-description-content">
                                <p>{{task.text}} - <small>{{task.author}}</small></p>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <br>
            {%endfor%}
            <form action="{% url "planner:add_task" %}" method='GET'>
                <button type='submit'>Add Task</button>
            </form>
        </devsite-content>
    </div>

{#    The following is a template based add task button, so it will not Permenantly save the added task#}
{#    <script>#}
{#        function appendList() {#}
{#        var ul = document.getElementById('listtasks');#}
{#        var li = document.createElement('li');#}
{#        var task = document.getElementById('task-input');#}
{#        var author = document.getElementById('task-author');#}
{#        li.appendChild(document.createTextNode(item.value));#}
{#        ul.appendChild(li);#}
{#        }#}
{#    </script>#}

{% endblock %}


</html>