{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Planda Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#	<link rel="stylesheet" type="text/css" href="main.css">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="shortcut icon" href="{% static 'planner/images/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" href="{% static 'planner/images/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Erica+One&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="left-container">
        <div class="navigation">
            <div class="title">Planda</div>
            <div class="contact">Get in touch with us now</div>
        </div>
        <div class="logo-container">
            <div class="logo"><img src="{% static "planner/images/planda head.svg" %}"></div>
        </div>
        <div class="social">
            <div class="social-btn">
                <i class="fab fa-facebook-f icon"></i>
            </div>
            <div class="social-btn">
                <i class="fab fa-twitter icon"></i>
            </div>
            <div class="social-btn">
                <i class="fab fa-instagram icon"></i>
            </div>
            <div class="social-btn">
                <i class="fab fa-codepen icon"></i>
            </div>
            <div class="social-title">Keep up with the latest news</div>
        </div>
    </div>
    <div class="right-container">
        <div class="container mt-3 mx-auto">
            <form id="login-form" method="post" class="" role="form">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-5">
                        <input id="id_username" name="username" type="text" class="form-control"
                               placeholder="Username"/>
                    </div>
                    <div class="col-5">
                        <input id="id_password" name="password" type="password" class="form-control"
                               placeholder="Password"/>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Login"
                               class="btn btn-primary"/>
                    </div>
                </div>

                {% if form.errors %}
                    <p>
                        <span class="badge badge-danger">
                        Your username and password didn't match.
                        Please try again.
                        </span>
                    </p>
                {% endif %}


                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
        <div class="start-container">
            <div class="start-title">Create your own project with us</div>
            <div class="project-container">
                <div class="tell-us-more">Tell us more about your project</div>
            </div>
            <a href="{% url 'planner:register' %}" class="start-btn">Sign up</a>
        </div>
    </div>
</div>

</body>
</html>