{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Planda Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#	<link rel="stylesheet" type="text/css" href="main.css">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="shortcut icon" href="{% static 'planner/images/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" href="{% static 'planner/images/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Erica+One&display=swap" rel="stylesheet">
    <!-- JQuery -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="left-container">
        <div class="navigation">
            <div class="title">Planda</div>
            <div class="contact">Get in touch with us now</div>
        </div>
        <div class="logo-container">
            <div class="logo"><img src="{% static "planner/images/planda head.svg" %}"></div>
        </div>
        <div class="social">
            <div class="social-btn">
                <i class="fab fa-facebook-f icon"></i>
            </div>
            <div class="social-btn">
                <i class="fab fa-twitter icon"></i>
            </div>
            <div class="social-btn">
                <i class="fab fa-instagram icon"></i>
            </div>
            <div class="social-btn">
                <i class="fab fa-codepen icon"></i>
            </div>
            <div class="social-title">Keep up with the latest news</div>
        </div>
    </div>
    <div class="right-container">
        <div class="container mt-3 mx-auto">
            <form id="login-form" method="post" class="" role="form">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-5">
                        <input id="id_username" name="username" type="text" class="form-control"
                               placeholder="Username"/>
                    </div>
                    <div class="col-5">
                        <input id="id_password" name="password" type="password" class="form-control"
                               placeholder="Password"/>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Login"
                               class="btn btn-primary"/>
                    </div>
                </div>

                {% if form.errors %}
                    <p>
                        <span class="badge badge-danger">
                        Your username and password didn't match.
                        Please try again.
                        </span>
                    </p>
                {% endif %}


                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="row">
                    <a href="{% url 'planner:password_reset' %}" class="resetPassLink col-6">Can't log in?</a>
                    <div class="container col-6">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="toast" data-delay="2000">
                                    <div class="toast-body">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </form>


        </div>
        <div class="start-container">
            <div class="start-title">Create your own project with us</div>
            <div class="project-container">
                <div class="tell-us-more">Tell us more about your project</div>
            </div>
            <a href="{% url 'planner:register' %}" class="start-btn">Sign up</a>
        </div>
    </div>
</div>

<!-- Toasts -->
<script src="{% static 'js/bootstrap toast.js' %}"></script>
</body>
</html>