{% extends "planner/base.html" %}
{% load static %}

{% block title %}
    {{ profile_user.username }}'s Profile
{% endblock %}

{% block username %}
    {{ logged_in_user.username }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-xl-10 col-md-6 col-sm-10 mx-auto">

                <!-- Profile widget -->
                <div class="container-fluid bg-light shadow rounded overflow-hidden">
                    <div class="row">

                        <div class="col-4">
                            <div class="rounded container parent pt-lg-5">

                                <div class="child media profile-header" style="background: none;">
                                    <div class="profile mx-auto" style="">

                                        {% if profile_user.image %}
                                            <img src="{{ profile_user.image.url }}"
                                                 alt="{{ profile_user.username }}"
                                                 class="profile-image rounded mb-2 img-thumbnail">
                                        {% else %}
                                            <img src="{% static "planner/images/default.jpg" %}"
                                                 alt="{{ profile_user.username }}"
                                                 class="profile-image rounded mb-2 img-thumbnail">
                                        {% endif %}
                                        {% if editable %}
                                            <a href="#" class="btn btn-dark btn-sm btn-block">
                                                Edit profile
                                            </a>
                                        {% endif %}
                                    </div>

                                </div>

                                <div class="child media-body my-3 mx-5" style="background: none;">
                                    <h4 class="my-0">{{ profile_user.username }}</h4>
                                    <p class="small mb-4">
                                        <i class="fa fa-envelope mr-2"></i>
                                        {{ profile_user.email }}
                                    </p>
                                </div>
                                <div class="child p-4 d-flex text-center" style="background: none;">
                                    <ul class="list-inline mb-0 mx-auto" style="background: none;">
                                        <li class="list-inline-item">
                                            <h5 class="font-weight-bold mb-0 d-block">{{ number_of_projects }}</h5>
                                            <small class="text-muted">
                                                <i class="fa fa-trello mr-1"></i>
                                                Projects
                                            </small>
                                        </li>
                                        <li class="list-inline-item">
                                            <h5 class="font-weight-bold mb-0 d-block">{{ number_of_colleagues }}</h5>
                                            <small class="text-muted">
                                                <i class="fa fa-user-circle-o mr-1"></i>
                                                Colleagues
                                            </small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-8 px-4 py-4 bg-dark rounded shadow">
                            <div class="d-flex align-items-center justify-content-between">

                                <h5 class=" text-light">Recent Projects</h5>

                                {% if editable %}
                                    <a href="{% url "planner:projects_listed" %}" class="btn btn-link text-muted">Show
                                        all</a>
                                {% endif %}
                            </div>

                            <!-- TODO: connect unsplash API for randomly generated images -->
                            {% if projects %}

                                <div class="container-fluid">
                                    <div class="row" style="background: none;">
                                        {% for project, image in proj_and_pics %}
                                            <div class="container col-lg-6 mt-3">


                                                <div class="hovereffect">
                                                    <img class="img-responsive"
                                                         src="{{ image }}"
                                                         alt=""
                                                         style="height: 15rem"
                                                    >
                                                    <div class="overlay">
                                                        <h2>{{ project.title }}</h2>
                                                        <p>
                                                            <a href="{% url 'planner:project_page' project.pk %}">View</a>
                                                        </p>
                                                    </div>
                                                </div>


                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            {% else %}

                                <div class="center-container">
                                    <p class="text-muted">Nothing to show</p>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
                <!-- End profile widget -->
            </div>
        </div>
    </div>
{% endblock %}