{% extends "planner/base.html" %}

{% block body %}
{#    <p>project id {{ view.project_id }}</p>#}

    <section class="lists-container">
        {% for category in category_list %}
            <div class="list">
                <h3 class="list-title">{{ category.category_name }}</h3>
                <ul class="list-items">
                    {% for task in category.task_set.all %}
                        <li onclick="location.href='{% url "planner-namespace:update-task" task.pk %}'">{{ task.text }} <span style="font-size: xx-small">{{ task.author }}</span>
                            <a href="{% url "planner-namespace:remove-task" task.pk %}">--X--</a></li>
                    {% endfor %}
                </ul>
                <form action="{% url "planner:add_task" view.project_id category.id %}" method='GET'>
                    <button type='submit' class="add-card-btn btn">Add Task</button>
                </form>
            </div>
        {% endfor %}
        <form action="{% url "planner-namespace:add_category" view.project_id %}" method='GET'>
            <!-- TODO: pass id of project to add_category -->
            <button type="submit" class="add-list-btn btn">Add a list</button>
        </form>

    </section>
{% endblock %}


</html>