{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'authentic/login.css' %}">
{#<style></style>#}
</head>
<body>

<h1 style="text-align:center;">Log In to Planda</h1>
<div class="container">
  <img src="{% static 'planner/images/planda.png' %}" class="center">
</div>

  <form class="modal-content animate" method="POST">
    {%csrf_token%}
    <a href = '/signup'>Create an account</a>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <span class="username_field">{{ form.username }}</span>

      <label for="psw"><b>Password</b></label>
      <span class="password_field" >{{form.password}}</span>
      <button type="submit">Log In</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    <!-- <span style=" list-style-type: none;">{{form.non_field_errors}}</span> -->
    {% for field, error in form.errors.items %}
        {% if field != '__all__' %}{{ field }}{% endif %}
        <span style="color:red">{{ error | striptags }}</span>
    {% endfor %}
  </form>

</body>
</html>

