:root {
    --emphasis-color: #1c431e;
}

* {
    color: var(--emphasis-color);
}

.main-btn {
    border: 1px solid #1c431e;
    color: var(--emphasis-color);
    background: none;
}

.main-btn:hover {
    background-color: var(--emphasis-color);
    color: white;
    text-decoration: none;
}

.back-btn {
    border: none;
    color: gray;
    background: none;
    margin-right: 2rem;
}

.back-btn:hover {
    color: black;
}

.alert-danger * {
    color: red;
}