{% extends "registration/base.html" %}

{% block title %}Recovery link{% endblock %}
{% block body %}
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-16">
                    <div class="content-section text-center text-info">
                        <fieldset class="form-group" style="background: none;">
                            <legend class="border-top mb-4 ">We've sent you a recovery link.</legend>
                            <p>Check your email</p>
                        </fieldset>

                        <!-- Errors -->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- Errors -->

                        <div class="form-group">
                            <a class="btn main-btn" href="{% url 'planner:landing_page' %}">Back to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}