{% extends "planner/base.html" %}

{% block login_info %}{% endblock %}

{% load crispy_forms_tags %}

{% block body %}

{% if validlink %}

<div class = "container" style="width:30%; margin-top: 4%;">
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class ="btn btn-primary">Change password</button>
  </form>
</div>
{% else %}
<div class = "container" style="width:30%; margin-top: 4%;">
  <p>
  The password reset link was invalid. Please request a new one. </p><br>
  <a class ="btn btn-primary" href="{% url 'planner:password_reset' %}">Request a new link</a>
</div>
</p>
{% endif %}

{% endblock %}
