{#{% extends "planner/base.html" %}#}
{##}
{##}
{##}
{##}
{#{% block body %}#}
{##}
{#<div class = "container w-50 pt-lg-5">#}
{#    <h5>Your password has been reset successfully!</h5><br>#}
{#    <a class ="btn btn-primary" href="{% url 'planner:landing_page' %}">Back to Login</a>#}
{#</div>#}
{##}
{#{% endblock %}#}

{% load static %}


<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create an account</title>
    <!-- Icons -->
    <link rel="shortcut icon" href="{% static 'planner/images/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" href="{% static 'planner/images/apple-touch-icon.png' %}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body id="signup">
<h3 class="text-center pt-5">
    <img src="{% static "planner/images/planda.png" %}" style="height: 3rem">
</h3>
<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-16">
                <div class="content-section text-center text-info">
                        <fieldset class="form-group" style="background: none;">
                            <legend class="border-top mb-4 ">Your password has been successfully changed!</legend>
                        </fieldset>
                        <div class="form-group">
                            <a class="btn signup-btn" href="{% url 'planner:landing_page' %}">Back to login</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

* {
    color: #1c431e;
}

.signup-btn {

    border: 1px solid #1c431e;
    color: #1c431e;
    background: none;
    /*background: red;*/
    /*border-style: none;*/
    /*background: var(--button-color);*/
    /*outline: none;*/
}

.signup-btn:hover {

    background-color: #1c431e;
    color: white;
    text-decoration: none;

    /*color: #fff;*/
    /*background-color: var(--main-fg-color);*/
    /*text-decoration: none;*/
}
</style>

</body>
</html>