{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}
{% block body %}
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-16">
                    <div class="content-section text-center text-info">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group" style="background: none;">
                                <legend class="border-top mb-4 ">Create an account</legend>
                                <div class="container" style="background: none;">
                                    {% for field in form %}
                                        <div class="row mt-3" style="width: 30rem; background: none;">
                                            <div class="col-6">
                                                {{ field.label_tag }}
                                            </div>

                                            <div class="col-6">
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>

                        <!-- Errors -->
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        <!-- Errors -->

                            <div class="form-group">
                                <a class="btn back-btn" href="{% url 'planner:landing_page' %}">Back to login</a>
                                <button class="btn main-btn" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}